%div
  = selector.name
  - selector.options.each do |option|
    %input{ type: 'radio' }= option.name
    - option.options.each do |sub_option|
      = haml(:_option, layout: false, locals: {option: sub_option })