@import "compass";
@import "bootstrap";

#wrap {
  padding-bottom: 40px;
}

#call {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid gray;

  .row {
    margin: 5px 0;
  }

  p {
    margin: 0;
  }
}

#id {
  margin-top: 3px;

  i {
    padding-right: 3px;
    margin-top: 2px;
  }

  .spiner {
    display: none;
  }

  .generated {
    display: none;

    .id {
      font-weight: bold;
      margin-right: 20px;
    }
  }
}

#help {
  h4 {
    margin-bottom: 6px;
  }

  display: none;
}

.intro {
  img {
    height: 20px;
  }
}

.logo {
  display: block;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #9C0000;
  border-radius: 4px;

  a {
    color: white;
    font-family: 'Gabriela', serif;
    text-decoration: none;

    &:hover {
      opacity: 0.9;
    }
  }
}

#search input {
  width: 200px;
  font-size: 11px;
}

.intro {
  padding-right: 20px;
}

.form-actions {
  input {
    margin-bottom: 0px;
  }
}

blockquote legend {
  font-size: 18px;
}

legend {
  margin-bottom: 5px;
}

input.search-query {
  position: absolute;
  margin-left: 380px;
}

.guide {
  margin-top: 10px;
  margin-bottom: 10px;
}

.templates .btn {
  margin-bottom: 5px;
}

.group {
  display: none;
  margin-bottom: 0px;

  &.visible {
    display: block;
  }

  .default {
    border: 0px;
    border-bottom: 1px dashed gray;
    box-shadow: none;
    transition: none;
    border-radius: 0px;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    margin-left: 4px;
  }

  .input {
    display: none;
    border: 0px;
    border-bottom: 1px dashed gray;
    box-shadow: none;
    transition: none;
    border-radius: 0px;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    margin-left: 4px;

    &.visible {
      display: inline;
    }
  }
}