@import "compass";
@import "bootstrap";

#wrap {
  padding-bottom: 40px;
}

#call {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid gray;

  .row {
    margin: 5px 0;
  }

  p {
    margin: 0;
  }
}

#search input {
  width: 140px
}

.intro {
  padding-right: 20px;
}

.form-actions {
  input {
    margin-bottom: 0px;
  }
}

blockquote legend {
  font-size: 18px;
}

legend {
  margin-bottom: 5px;
}

input.search-query {
  position: absolute;
  margin-left: 380px;
}

.guide {
  margin-top: 10px;
  margin-bottom: 10px;
}

.templates .btn {
  margin-bottom: 5px;
}

.group {
  display: none;
  margin-bottom: 0px;
}